eshell
*.elc
tramp
undohist/*
history
recentf
places
ido.last
ac-comphist.dat
el-get
local.el
backups
elpa/archives
persp-confs
elpa
**/#*
server
transient
auto-save-list
!**/.gitkeep
!.status.el
inits/*.elc
init.elc
config/init.el
projectile-bookmarks.eld
projectile.cache
bookmarks
.lsp-session-v1